body {
  font-family: 'DM Sans', sans-serif;
  background-image: url(../img/bgc-img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  object-fit: contain;
  background-size: cover;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  list-style: none;
}

.photo-card {
  transition-duration: 250ms;
}

.photo-card:hover {
  transform: scale(1.03);
}

.image-gallery {
  object-fit: cover;
  width: 320px;
  height: 200px;
  display: block;
  border-radius: 10px;
}

.info {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgba(128, 128, 128, 0.438);
  border-radius: 20px;
  padding: 5px 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.thumb {
  position: relative;
}

.submit-button {
  font-family: 'DM Sans', sans-serif;
  position: absolute;
  padding: 10px;
  right: 0;
  border-radius: 30px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(143, 143, 143);
  cursor: pointer;
  transition-duration: 250ms;
}

.submit-button:hover {
  background-color: rgb(241, 118, 118);
  transform: scale(1.03);
}

.search-input {
  padding: 11px;
  padding-right: 70px;
  width: 300px;
  outline: none;
  border: 1px solid black;
  border-radius: 30px;
  background-color: transparent;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more {
  font-family: 'DM Sans', sans-serif;
  background-color: rgb(143, 143, 143);
  padding: 20px;
  border-radius: 20px;
  transition-duration: 250ms;
}

.load-more:hover {
  background-color: rgb(241, 118, 118);
  cursor: pointer;
  transform: scale(1.03);
}

.js-load-more {
  display: none;
}
